# The IP address of your Meshtastic node
MESHTASTIC_IP=192.168.123.123
ADMIN_NODES='!aae8900d'

# The root URL of the Meshflow API
STORAGE_API_ROOT='http://localhost:8000'
STORAGE_API_TOKEN=...
STORAGE_API_VERSION=2

# Use these if you want to upload to a second API (usually used during testing)
# STORAGE_API_2_ROOT=...
# STORAGE_API_2_VERSION=2
# STORAGE_API_2_TOKEN=...

# Use this if you want to receive commands from the Meshflow server (e.g. traceroute)
MESHFLOW_WS_URL=ws://localhost:8000

# Comma-separated portnums to skip when submitting packets to the API (e.g. custom or rejected ports)
IGNORE_PORTNUMS=345,ROUTING_APP

# Tracerouteconfig
TR_HOPS_LIMIT=5
